<footer>
    <hr>
    <div class="row justify-content-around">
        <p class="pull-right mr-4">Copyright &copy; OpenClassrooms</p>
        <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
    </div>
</footer>