{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Documentation de l'application</h1>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/docs.css") }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="docs" id="page">

            <div class="docs-section">
                <h2 class="h3">Architecture de l'application</h2>
                <p class="docs-section-text">
                    L'application tourne sous la version 4.4 de symfony. L'architecture de l'application correspond à l'architecture par défaut de Symfony
                </p>
            </div>

            <div class="docs-section">
                <h2 class="h3">Sécurité</h2>
            </div>

            <div class="docs-section">
                <h2 class="h3">Stockage des utilisateurs</h2>
                <p class="docs-section-text">
                    Les utilisateurs du site sont stockés dans la table user de la base de données.
                </p>
            </div>

            <div class="docs-section">
                <h2 class="h3">Installation du projet</h2>
                <p class="docs-section-content">
                    Pour contribuer au projet, il faut l'installer sur votre poste un travail.
                    Pour installer le projet veuiller suivre la procédure dans le fichier <code><a class="docs-link" target="_blank" href="https://github.com/fredkso77/todo-co">README.md</a></code> qui se trouve à la racine du projet.
                </p>
            </div>

        </div>    
    </div>

{% endblock %}

